<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="username" value="millerpropertydevelopment@gmail.com"/>
    <add key="serverHostname" value="imap.gmail.com"/>
    <add key="encryptedPassword" value="PF0b/b7IfsSCVdzThQyzf+M+Zz8oTjZyPHp+ifCvIDNmk0tavc5txIE5X1M95yvvC/VWRxHlP9SG3nq+t6er+fvsma6f+SfaMp3/JNSADNKAPsjMX+cCufIuYh/GeQ09"/>
    <add key="fromFilter" value="realestatealert@realestate.com.au"/>
    <add key="subjectFilter" value="realestate.com.au - 800m2"/>
    <add key="addressPatternPrefix" value="&lt;a href[^&gt;]+title=&quot;View this property on realestate\.com\.au&quot;[^&lt;]*&gt;(?&lt;"/>
    <add key="addressPatternSuffix" value="&gt;[^&lt; \t\r\n][^&lt;]+)"/>
  </appSettings>
</configuration>