<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="emailUsername" value="millerpropertydevelopment@gmail.com"/>
    <add key="emailServerHostname" value="imap.gmail.com"/>
    <add key="emailEncryptedPassword" value="PF0b/b7IfsSCVdzThQyzf+M+Zz8oTjZyPHp+ifCvIDNmk0tavc5txIE5X1M95yvvC/VWRxHlP9SG3nq+t6er+fvsma6f+SfaMp3/JNSADNKAPsjMX+cCufIuYh/GeQ09"/>
    <add key="fromFilter" value="realestatealert@realestate.com.au"/>
    <add key="subjectFilter" value="realestate.com.au - 800m2"/>
    <add key="addressPatternPrefix" value="&lt;a href[^&gt;]+title=&quot;View this property on realestate\.com\.au&quot;[^&lt;]*&gt;(?&lt;"/>
    <add key="addressPatternSuffix" value="&gt;[^&lt; \t\r\n][^&lt;]+)"/>
    <add key="dbUsername" value="ReadOnly"/>
    <add key="dbEncryptedPassword" value="7AiMMCiVkH9aVBdWnezVWg/RfqYQ2k1N7ccITWTNtn4qqitovqKciuNMvNQfOntZ1HEFurOSvk4K0NUkgAmuqsGGM1KMqUvbaF08NkASlAbPQou2Cr9jOVZUfsoTdIMW"/>
    <add key="dbConnectionStringTemplate" value="Server=tcp:addictivkaos.database.windows.net,1433;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Initial Catalog=PropertyData;Persist Security Info=False;User ID={0};Password={1}"/>
    <add key="dbSearchQueryTemplate" value="SELECT DISTINCT [Address] FROM [dbo].[SplittersView] WHERE [Address] = '{0}'"/>
  </appSettings>
</configuration>